<div class="container mat-body-1">
  <p class="mat-title">Post Component</p>

  <div>
    <button mat-button (click)="onAddPost()" class="hyperlink">
      <mat-icon fontSet="material-icons-outlined">add_circle_outline</mat-icon>
      <span>Add Post - slide down animation</span>
    </button>
  </div>

  <div [@slideDownAnimation]="addPostOpen">
    <app-add-post (post)="postAddComplete($event)">
    </app-add-post>
  </div>

  <div [@addItemFadeAnimation]="posts.length">
    <div *ngFor="let post of posts">
      <div class="author" >
        <div>
          <img class="image profile-image-post"
                [src]="profileImageUrl"
                style="width:40px;height:40px;">
        </div>
        <div class="name-and-date">
          <div class="display-name">
            Dave
          </div>
          <div>
            {{ postDate | date:'short'}}
          </div>
        </div>
      </div>
      <div class="body">
        <div>
          <span class="body-text">{{ post }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
  </div>
  <br>
  <br>
  <a routerLink="/other" class="hyperlink">Click to see Fade Anmiation on Routes</a>
</div>
